<div class="opening-screen">
  <!-- Background -->
  <img src="image/opening/laboratory.png" class="opening-screen__bg" alt="Lab Background">

   <div class="panel-info">
    <button pButton 
      icon="pi pi-database" 
      class="p-button-info p-button-text qr-code"
      (click)="showInfo.set(!showInfo())">
    </button>
  </div>

  <div class="panel-qrcode">
    <button pButton 
      icon="pi pi-qrcode" 
      class="p-button-info p-button-text qr-code"
      (click)="showQRCode.set(!showQRCode())">
    </button>
  </div>

  @if (showInfo()) {
    <div class="status-panel">
      <h1 class="status-panel__percent">
        {{ energyPercent()  }}% 
      </h1>
      <p class="status-panel__info">
        พลังงานจากผู้เข้าร่วมงาน:
        <span class="highlight">{{ scanCount() }}</span> / {{ targetScans() }}
      </p>
    </div>
  }

  <!-- @if (showInfo()) {
    <div class="status-panel">
      <h1 class="status-panel__percent">
        {{ energyPercent | number:'1.0-0' }}%
      </h1>
      <p class="status-panel__info">
        พลังงานจากผู้เข้าร่วมงาน:
        <span class="highlight">{{ scanCount }}</span> / {{ targetScans }}
      </p>
    </div>
  } -->

  @if (showQRCode()) {
    <div class="qr-code-panel">
      <p class="qr-code-panel__info">สแกน QR Code เพื่อชาร์จพลังงาน!</p>
      <qrcode 
        class="flex justify-center"
        [qrdata]="QRCodeValueProd()" 
        [width]="256" 
        [errorCorrectionLevel]="'M'">
      </qrcode>
    </div>
  }

  <div class="energy-container">
    <div class="energy-tube">
      <img src="image/opening/emptyTube.png" class="energy-tube__asset empty-tube" alt="Empty Tube">
      <img src="image/opening/fullyEnergy.png" class="energy-tube__asset fully-tube" alt="Full Tube"
        [style.clip-path]="clipPathInset">
    </div>
  </div>
</div>