<div class="opening-screen">
  <img src="image/opening/laboratory.png" class="opening-screen__bg" alt="Lab Background">

   <div class="panel-info">
    <button pButton 
      icon="pi pi-minus-circle" 
      class="p-button-info p-button-text qr-code mr-2"
      (click)="decreaseEnergy()">
    </button>

    <button pButton 
      icon="pi pi-plus-circle" 
      class="p-button-info p-button-text qr-code mr-2"
      (click)="increaseEnergy()">
    </button>

    <button pButton 
      icon="pi pi-database" 
      class="p-button-info p-button-text qr-code"
      (click)="showInfo.set(!showInfo())">
    </button>
  </div>

  <div class="panel-qrcode">
    <button pButton 
      icon="pi pi-qrcode" 
      class="p-button-info p-button-text qr-code"
      (click)="showQRCode.set(!showQRCode())">
    </button>

    <button pButton 
      [icon]="'pi pi-play'" 
      class="p-button-info p-button-text qr-code ml-2"
      (click)="playSound('epic2.mp3')">
    </button>
  </div>

  @if (showInfo()) {
    <div class="status-panel">
      <p class="status-panel__info">
        พลังงานจากผู้เข้าร่วมงาน:
        <span class="highlight">{{ scanCount() }}</span> / {{ targetScans() }}
      </p>

      <h1 class="status-panel__percent">
        {{ energyPercent()  }}% 
      </h1>

      @if (energyPercent() >= 100) {
        <button pButton 
          label="ไปหน้าพิธีเปิด"
          (click)="goToCeremony()"
          class="p-button-success p-button-sm status-panel__btn">
        </button>
      }
    </div>
  }

  @if (showQRCode()) {
    <div class="qr-code-panel">
      <p class="qr-code-panel__info">สแกน QR Code เพื่อชาร์จพลังงาน!</p>
      <qrcode 
        class="flex justify-center"
        [qrdata]="QRCodeValueProd()" 
        [width]="256" 
        [errorCorrectionLevel]="'M'">
      </qrcode>
    </div>
  }

  <div class="energy-container">
    <div class="energy-tube">
      <img src="image/opening/emptyTube.png" class="energy-tube__asset empty-tube" alt="Empty Tube">
      <img src="image/opening/fullyEnergy.png" class="energy-tube__asset fully-tube" alt="Full Tube"
        [style.clip-path]="clipPathInset">
    </div>
  </div>
</div>
<div class="fade-overlay" [class.active]="isFadingOut()"></div>