.custom-border {
    height: calc(100% - 8rem);
}

.custom-card {
    background: #457fca;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5691c8, #85afe6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5691c8, #85afe6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

:host ::ng-deep .p-tag {
    padding: 0.125rem 1.25rem;
}