.custom-border {
    height: calc(100% - 8rem);
}

.custom-card {
    background: #8e9eab;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom left , #f7f7f9, #bec4cb);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom left, #f7f7f9, #bec4cb);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

:host ::ng-deep .p-tag {
    padding: 0.125rem 1.25rem;
}