.slot {
  font-size: 15rem;
  font-weight: bold;
  width: 250px;
  height: 350px;
  border: 2px solid #ee9ca7;
  border-radius: 10px;
  background: #eee;
  overflow: hidden;
  position: relative;
}

.reel {
  display: flex;
  flex-direction: column;
}

.reel div {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slot.win {
  animation: flash 0.3s alternate 6;
  /* กระพริบ 6 ครั้ง */
  border-color: gold;
  box-shadow: 0 0 20px gold;
}

@keyframes flash {
  from {
    background: #fff;
    border-color: gold;
    box-shadow: 0 0 20px gold;
  }

  to {
    background: #ffe066;
    border-color: orange;
    box-shadow: 0 0 30px orange;
  }
}

.lucky-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 8rem;
    color: #fff;
    background-color: #f3b2bb;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}