.lucky-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 2rem;
    color: #fff;
    background-color: #f3b2bb;
    border-radius: 50%;
    width: 125px;
    height: 125px;
}