/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&display=swap');
@import "../src/tailwind/tailwind.css";
@import "primeicons/primeicons.css";

html {
    font-size: 16px;
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.gradient {
    padding: 20px;
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: start;
    background: #ee9ca7;
    background: -webkit-linear-gradient(to bottom, #ffdde1, #ee9ca7);
    background: linear-gradient(to bottom, #ffdde1, #f3b2bb, #ee9ca7);
}