<div class="relative w-screen h-custom">
  <div class="absolute inset-0 bg-cover bg-center" style="background-image: url('image/digital-lg.jpg'); z-index: -1;">
  </div>

  <div class="absolute top-0 left-0 w-full flex justify-between">
    <div class="pt-3 pl-8">
      <button pButton 
        routerLink="/console"
        [severity]="'secondary'"
        [text]="true"
        [icon]="'pi pi-arrow-left'"
        [label]="'ย้อนกลับ'">
      </button>
    </div>
    <div class="pt-3 flex items-center pr-3 gap-2">
      <button pButton 
        (click)="usersVisible = true"
        [severity]="'secondary'"
        [icon]="'pi pi-users'"
        [label]="'รายชื่อผู้เข้าร่วม ' + listUsers.length.toString()">
      </button>
      <button pButton 
        (click)="winnersVisible = true"
        [severity]="'secondary'"
        [icon]="'pi pi-users'"
        [label]="'รายชื่อผู้ได้รับรางวัล ' + listWinners.length.toString()">
      </button>
      @if (!roomData?.isCondition) {
        @if (contentMode === 'game') {
          <button pButton 
            (click)="contentMode = 'qrcode'"
            [severity]="'success'"
            [icon]="'pi pi-qrcode'"
            [label]="'qrCode'">
          </button>
        } @else {
          <button pButton 
            (click)="contentMode = 'game'"
            [severity]="'success'"
            [label]="'จับรางวัล'">
          </button>
        }
      }
    </div>
  </div>

  <div class="absolute bottom-0 right-0 w-full flex justify-end items-center">
    <div class="pb-3 pr-3 flex gap-2">
      <button pButton 
        (click)="updateRoomLock()"
        [severity]="roomData?.isLocked ? 'success' : 'secondary'"
        [icon]="'pi pi-lock'"
        [label]="roomData?.isLocked ? 'ปลดล็อค' : 'ล็อค'">
      </button>
     
      @if (roomData?.isCondition) {
      <button pButton 
        (click)="reserveTicket()"
        [severity]="'secondary'"
        [icon]="'pi pi-user-plus'"
        [label]="'รายชื่อ'">
      </button>
      <button pButton 
        (click)="clearTicket()"
        [severity]="'secondary'"
        [icon]="'pi pi-times'"
        [label]="'เคลียร์'">
      </button>
      }
    </div>
  </div>


  @if (contentMode === 'game') {
    <div class="h-full flex flex-col justify-center items-center gap-5">
      <div class="text-4xl"> สุ่มรางวัล </div>
      <div class="flex items-center gap-2">
        <div class="font-semibold text-5xl mb-4"> {{ roomData?.name || "-" }} </div>
        <span class="text-2xl">({{roomData?.totalPrize}} รางวัล)</span>
      </div>
      <div class="flex slot-container">
        @for (i of [ 0, 1, 2 ]; track i) {
        <div class="slot">
          <div class="reel" [style.transform]="reelTransforms[i]"
            [style.transition]="'transform ' + reelDurations[i] + ' cubic-bezier(0.25, 1, 0.5, 1)'">
            @for (reel of numbers; track $index) {
              <div>{{ reel }}</div>
            }
          </div>
        </div>
        }
      </div>

      <button pButton 
        (click)="spin()"
        [severity]="'success'"
        [disabled]="spinning"
        [icon]="'pi pi-user-plus'"
        [label]="'กดเพื่อหมุน'"
        style="width: 766px;"
        size="large">
      </button>
    </div>
  }

  @else {
    <div class="flex flex-col justify-center items-center h-full">
      <qrcode
        [qrdata]="qrCode"
        [width]="512"
        [errorCorrectionLevel]="'M'">
      </qrcode>


      <div class="flex flex-col items-center gap-3">
        <div class="text-6xl! text-center bg-blue-300 p-2 rounded-lg w-106 shadow-lg">
          <h2> {{ countdownDisplay }}</h2>
        </div>

        <button 
          pButton 
          severity="secondary"
          [disabled]="isCountDown"
          (click)="startCountdown()"
          label="เริ่มนับถอยหลัง">
        </button>
      </div>
    </div>
  }

  <div class="absolute left-0 bottom-0 mb-3 ml-3">
    <div class="text-sm text-gray-500">
      <p>ศูนย์สื่อสารและสารสนเทศ โรงพยาบาลสมเด็จพระปิ่นเกล้า (CIT)</p>
    </div>
  </div>
</div>

<p-dialog
  [modal]="true"
  [closable]="false"
  [maximizable]="true"
  [(visible)]="usersVisible"
  [style]="{ width: '60vw' }">
  <ng-template #header>
    <h2 class="text-2xl font-bold"> ผู้ลงทะเบียนเข้าร่วมลุ้นรางวัล </h2>
  </ng-template>

  <div [style]="{ minHeight: '40vh', maxHeight: '80vh' }">
    <ul>
      <div class="grid grid-cols-2 gap-2">
        @for (item of listUsers; track $index; let index = $index) {
          <div class="col-span-1 p-1 rounded-lg">
            <div class="bg-gray-200 p-3 rounded-lg"> {{ index + 1 }}. {{ item.registrationName }} </div>
          </div>
        }
      </div>
    </ul>
  </div>
  <ng-template #footer>
    <button pButton 
      (click)="usersVisible = false"
      [severity]="'secondary'"
      [disabled]="spinning"
      [icon]="'pi pi-times'"
      [label]="'ปิดหน้าต่าง'">
    </button>
  </ng-template>
</p-dialog>

<p-dialog
  [modal]="true"
  [closable]="false"
  [maximizable]="true"
  [(visible)]="winnersVisible"
  [style]="{ width: '60vw' }">
  <ng-template #header>
    <h2 class="text-2xl font-bold"> ผู้ที่ได้รับรางวัล </h2>
  </ng-template>

  <div [style]="{ minHeight: '40vh', maxHeight: '80vh' }">
    <ul>
      <div class="grid grid-cols-2 gap-2">
        @for (item of listWinners; track $index; let index = $index) {
          <div class="col-span-1 p-1 rounded-lg">
            <div class="bg-gray-200 p-3 rounded-lg"> {{ index + 1 }}. {{ item.registrationName }} </div>
          </div>
        }
      </div>
    </ul>
  </div>
  <ng-template #footer>
    <button pButton 
      (click)="winnersVisible = false"
      [severity]="'secondary'"
      [disabled]="spinning"
      [icon]="'pi pi-times'"
      [label]="'ปิดหน้าต่าง'">
    </button>
  </ng-template>
</p-dialog>

<p-dialog
  [modal]="true"
  [showHeader]="false"
  [(visible)]="dialogVisible"
  styleClass="pt-8"
  [style]="{ width: '60vw' }">
  <div class="flex flex-col items-center">
    <div class="text-2xl font-bold mb-3">ผู้ได้รับรางวัล</div>
    <div class="text-rose-300 text-8xl">
      {{ result }}
    </div>
    <div class="mt-2 text-4xl">{{ winnerUser?.registrationName }}</div>
  </div>

  <div class="flex justify-center gap-3 mt-15">
    <button pButton 
      (click)="dialogVisible = false"
      [severity]="'secondary'"
      [disabled]="spinning"
      [icon]="'pi pi-times'"
      [label]="'ปิดหน้าต่าง'">
    </button>
    <button pButton 
      (click)="submitWinner()"
      [severity]="'success'"
      [disabled]="spinning"
      [icon]="'pi pi-save'"
      [label]="'บันทึกผู้รับรางวัล'">
    </button>
  </div>
</p-dialog>